
.heroImages {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    filter: drop-shadow(2px 4px 6px black); 
  }

  .heroImages:hover {
cursor: grab;
transform: scale(1.01);
  }


  .heroImages:active {
    cursor: grabbing;
    transform: scale(1.05);
      }
  
  .heroImages img {
  position: absolute;
    top: 50%;
    left: 50%;
/* Update existing transform property */
transform: translate(-50%, -50%) rotate(0deg);
/* Add new animation properties */
animation-name: spin;
animation-duration: 10s;
animation-iteration-count: infinite;
animation-timing-function: linear;
    filter: grayscale(0.2); 
  }
  
  .heroImages img:nth-child(1) {
    z-index: 10;
    animation-name: clockwise;
  }
  
  .heroImages img:nth-child(2) {
    z-index: 20;
    animation-name: counterclockwise;
  }
  
  .heroImages img:nth-child(3) {
    z-index: 30;
    animation-name: clockwise;
  }
  
  @keyframes clockwise {
    from {
      transform: translate(-50%, -50%) rotate(0deg);
    }
    to {
      transform: translate(-50%, -50%) rotate(360deg);
    }
  }
  
  @keyframes counterclockwise {
    from {
      transform: translate(-50%, -50%) rotate(0deg);
    }
    to {
      transform: translate(-50%, -50%) rotate(-360deg);
    }
  }

  /* Add new keyframes for spinning animation */
@keyframes spin {
  from {
      transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
      transform: translate(-50%, -50%) rotate(360deg);
  }
}

@media (max-width: 767px) {


  .heroImages{
    transform: scale(0.8) translateY(-28em);
    /* height: 50px; */
    margin-top: 2.5em !important;
  }
}
